$color-primary: rgb(192 142 136);
$color-second: #884A39;
$color-title: #796562;
$color-text: #434343;
$color-bg: #FAF6F3;
$color-tag: #ECE5DF;
$color-white: #FFFFFF;
.bg-tag {
  background-color: $color-tag;
}

:root {
  --color-primary-500: 192 142 136;
}

