@import 'variable';
@import 'mixin';


//案例說明
.case {
  .case-block {
    //box-shadow: inset 50vw -180vh 0 0 $color-bg;
  }

  .title {
    font-weight: bold;
    color: $color-primary;
    margin-bottom: 4px;
  }
}

//常見問題
.question {
  .QA-title > button {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 0;
    padding: 24px 24px 24px 0;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: left;
    line-height: 28px;
    @include lg() {
      font-size: 18px;
      padding: 24px 0;
    }
  }
}

//內頁
.inner-block {
  background-color: #fffcf9;
  padding: 120px 80px;

  @include lg() {
    padding: 40px 24px;
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    line-height: 84px;
    color: $color-primary;
    padding-bottom: 24px;
    letter-spacing: 2px;
    @include lg() {
      line-height: 36px;
    }
  }
}

.color-title {
  color: $color-title;
}
